openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://localhost:8080/api/v1
  description: Generated server url
tags:
- name: Repository Management
  description: Endpoints for cloning and managing repositories
- name: Code Analysis
  description: Endpoints for analyzing project code
paths:
  /projects/clone:
    post:
      tags:
      - Repository Management
      summary: Clone or retrieve a repository
      description: Clones the project if not cached or retrieves existing cached project
      operationId: cloneProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequestDTO'
      responses:
        "200":
          description: Project retrieved/cloned successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectResponseDTO'

  /projects/{projectId}/branches:
    get:
      tags:
      - git-commit-controller
      operationId: getProjectBranches
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BranchResponseDTO'

  /projects/{projectId}/branches/{branch}:
    get:
      tags:
      - git-commit-controller
      operationId: getProjectBranch
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BranchDTO'

  /projects/{projectId}/branches/{branch}/commits:
    get:
      tags:
      - git-commit-controller
      operationId: getProjectCommits
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseCommitDTO'

  /projects/{projectId}/branches/{branch}/commits/{sha}:
    get:
      tags:
      - git-commit-controller
      operationId: getProjectCommit
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: sha
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommitDTO'

  /projects/{projectId}/branches/{branch}/commits/{sha}/metrics:
    get:
      tags:
      - git-commit-controller
      operationId: getCommitMetrics
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: sha
        in: path
        required: true
        schema:
          type: string
      - name: metrics
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
            description: metric code
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommitMetricsDTO'

  /languages:
    get:
      operationId: getLanguages
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  items:  
                    type: array
                    items:
                      $ref: '#/components/schemas/LanguageResponseDTO'

  /languages/{languageCode}/metrics:
    get:
      operationId: getMetrics
      parameters:
        - name: languageCode
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LanguageMetricsResponseDTO'
                  

components:
  schemas:
    PageInfo:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        total:
          type: integer
          format: int64
      required:
        - page
        - pageSize
        - total

    ProjectRequestDTO:
      type: object
      properties:
        url:
          type: string
          description: URL of the GitHub project
          example: https://github.com/ThatDraenGuy/ifmo_comp_math_lab1.git
      required:
        - url
      description: Request to analyze a GitHub project/repository

    ProjectResponseDTO:
      type: object
      properties:
        projectId:
          type: number
          description: ID of the project in the database
        owner:
          type: string
          description: GitHub repository owner
        project:
          type: string
          description: GitHub repository name
        path:
          type: string
          description: Local path where the project is stored
        languageCode:
          type: string
          description: Top language of repository
        updateStatus:
          type: string
          enum:
            - CLONED
            - UPDATED
            - NOT_UPDATED
          description: Status of repository
      required:
        - projectId
        - owner
        - project
        - path
        - updateStatus

    BranchDTO:
      type: object
      properties:
        branchName:
          type: string
          description: Short branch name
          example: main
        latestCommit:
          type: string
          description: SHA hash of the latest commit on the branch
          example: 4f1d2ab99cd93b781e22c14fa3d45af33bbcd123
      required:
        - branchName
        - latestCommit
      description: Represents a Git branch with its latest commit

    BranchResponseDTO:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BranchDTO'

    CommitDTO:
      type: object
      properties:
        sha:
          type: string
          description: Commit SHA hash
          example: a3f5b1c9d2e1f7abcd1234567890efabcd123456
        message:
          type: string
          description: Commit message
          example: Fix null pointer exception in parser
        author:
          type: string
          description: Commit author name
          example: Linus Torvalds
        timestamp:
          type: integer
          description: Commit timestamp in milliseconds since epoch
          format: int64
          example: 1732459123000
        number:
          type: integer
          description: Commit number
      required:
        - sha
        - message
        - author
        - timestamp
        - number
      description: Represents a Git commit with metadata

    PageResponseCommitDTO:
      allOf:
        - $ref: "#/components/schemas/PageInfo"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/CommitDTO'
          required:
            - items

    ColorValueDTO:
      type: object
      properties:
        hex:
          type: string
        display:
          type: string
      required:
        - hex
        - display

    MethodMetricDTO:
      type: object
      properties:
        metricCode:
          type: string
        numberValue:
          type: number
        stringValue:
          type: string
        colorValue:
          $ref: '#/components/schemas/ColorValueDTO'
      required:
        - metricCode

    MethodMetricsNodeDTO:
      type: object
      properties:
        name:
          type: string
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/MethodMetricDTO'
      required:
        - name
        - metrics

    ClassMetricsNodeDTO:
      type: object
      properties:
        name:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/MethodMetricsNodeDTO'
      required:
        - name
        - items

    PackageMetricsNodeDTO:
      type: object
      properties:
        name:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/MetricsNodeDTO'
      required:
        - name
        - items

    MetricsNodeDTO:
      oneOf:
        - $ref: '#/components/schemas/PackageMetricsNodeDTO'
        - $ref: '#/components/schemas/ClassMetricsNodeDTO'

    CommitMetricsDTO:
      type: object
      properties:
        commit:
          $ref: '#/components/schemas/CommitDTO'
        root:
          $ref: '#/components/schemas/MetricsNodeDTO'
      required:
      - root
      - commit

    LanguageResponseDTO:
      type: object
      properties:
        languageId:
          type: number
        languageCode:
          type: string
        languageName:
          type: string
          description: Programming language name
          example: Java
      required:
        - languageId
        - languageCode
        - languageName

    LanguageMetricsResponseDTO:
      type: object
      properties:
        items:
          type: array
          description: List of available metrics for the language
          items:
            $ref: '#/components/schemas/MetricDTO'
      required:
        - items
      description: Represents a set of metrics supported for a specific programming
        language

    MetricDTO:
      type: object
      properties:
        metricCode:
          type: string
          description: Unique metric identifier
          example: cyclomatic_complexity
        metricName:
          type: string
          description: Human-readable metric name
          example: Cyclomatic Complexity
        metricDescription:
          type: string
          description: Detailed description of what the metric measures
          example: Shows complexity of functions based on branching
        metricType:
          type: string
          enum:
            - NUMERIC
            - STRING
            - COLOR
      required:
        - metricCode
        - metricName
        - metricDescription
        - metricType
      description: Represents a single static analysis metric definition
