name: 'PR'
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: read # We are checking Pull Requests, duh

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  pr-check:
    name: PR conventions
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: deepakputhraya/action-pr-title@077bddd7bdabd0d2b1b25ed0754c7e62e184d7ee
        with:
          regex: '\[(FRONT|BACK|OAPI|MISC|CI)]\W(feature|feat|fix|bugfix|build|chore|docs|hotfix|release):\W.+'

  ci-self-check:
    name: CI config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Lint GitHub CI config with zizmor
        uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
        with:
          advanced-security: false
          annotations: true
          persona: pedantic

  frontend:
    name: Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          sparse-checkout: |
            frontend/
          sparse-checkout-cone-mode: false

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Fetch dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: frontend
          path: frontend/dist/

  backend:
    name: Backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          sparse-checkout: |
            backend/
          sparse-checkout-cone-mode: false

      - name: Setup JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
            java-version: "21"
            distribution: "corretto"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          add-job-summary-as-pr-comment: 'on-failure'
          cache-disabled: false
          cache-read-only: false
          cache-write-only: false

      - name: Build
        run: ./gradlew bootJar
      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: backend.jar
          path: "**/build/libs/*.jar"

      - name: Install test dependencies
        run: pip install --no-cache-dir -r requirements.txt
      - name: Test
        run: ./gradlew test
